/*!********* Hero Are Start ***************!*/

.hero {
    position: relative;
    padding-bottom: 90px;
    background-image: url('../../assets/images/vector_bg.jpg');
}

.hero-content-text {
    z-index: var(--zIndex-2);
    position: relative;
    padding: 160px 76px 0;
    text-align: center;
    transform: rotate(352deg);
    margin: var(--margin-center);
}

.hero-content__title {
    font: italic var(--type-bold) 2.3vw 'inglobal';
    padding-bottom: 0;
    -webkit-text-stroke: 4px black;
    -webkit-text-fill-color: white;
    max-width: 600px;
    margin: var(--margin-center);
}

.hero-content-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.question_box {
    width: 982px;
    display: flex;
    justify-content: space-between;
    padding: 111px 0 90px;
    margin: var(--margin-center)
}

.question_box--bg {
    background-image: url("../../assets/images/questionBox.png");
    width: 230px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question_box--bg h5 {
    max-width: 130px;
    margin: var(--margin-center);
    font: italic var(--type-bold) 2vw 'inglobal';
    text-align: center;
    white-space: pre-wrap;
    transform: rotate(30deg);
    color: var(--secondary-brand-color);
}

.question_box--bg--right {
    transform: rotate(160deg);
}

.question_box--bg--right h5 {
    transform: rotate(186deg);
}

.scroll-down__icon__and__text {
    display: flex;
    margin: 0 55px;
    cursor: pointer;
}

.scroll-down--text {
    font: italic var(--type-bold) 1.25vw 'inglobal';
    color: var(--secondary-brand-color);
    max-width: 110px;
    display: inline-block;
    margin-left: 11px;
}

.scroll-down--text-another-color {
    color: var(--main-brand-color);
}

.scroll-down {
    display: flex;
    align-items: center
}

.line {
    flex: 1;
    height: 1px;
    background-color: #c8c8c8;
}

/*!********* Hero Are End ***************!*/

/*!********* Send Message Are Start ***************!*/
.send-message-wrapper {
    padding-bottom: 85px;
}

.things {
    display: flex;
    width: 360px;
    margin-left: 160px;
}

.about-us-wrapper {
    margin-top: -80px;
    align-items: unset;
}

.about-us-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.about-us-info h2 {
    font: italic var(--type-bold) 2.3vw 'inglobal';
    color: var(--main-brand-color);
}

.about-us-info p {
    margin-top: 25px;
    font: var(--type-regular) 1.1vw 'Open sans';
    color: #282828;
}

.about-us--arrow {
    position: absolute;
    right: -18%;
    top: 18%;
    width: auto;
    height: auto;
}

.form-wrapper {
    position: relative;
}

.form-information {
    font: normal var(--type-bold) 1vw 'Open Sans';
    text-align: center;
    margin-bottom: 25px;
}

.form-information span {
    font: normal var(--type-regular) 0.9vw 'Open Sans';
    display: block;
}

.form-image {
    position: relative;
    z-index: -1;
}

.form {
    width: 320px;
    padding: 53px 25px 45px;
    margin-left: auto;
    margin-top: -80px;
    background: white;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
}

.form-image img {
    position: absolute;
    right: 0;
    top: 12px;
    width: auto;
    height: auto;
}

.hat img {
    width: auto;
    height: auto;
    margin-left: 74px;
    margin-top: -19px;
}

.phone-number-info {
    color: var(--main-brand-color);
    font: var(--type-bold) 1.6vw 'Open Sans'
}

/*!********* Send Message Are End ***************!*/

/*!***************** Section Our Partners Start **********************!*/

.whatDoIMean .container {
    width: 930px;
}

.our-partners-wrapper {
    position: relative;
}

.our-partners {
    min-height: 680px;
    margin-top: 113px;
    max-height: 870px;
    padding-top: 110px;
    margin-bottom: 235px;
    text-align: center;
    background-image: url("../../assets/images/board.png");
}

.our-partners__title {
    padding-bottom: 60px;
    font: italic var(--type-bold) 2vw 'inglobal';
    background: -webkit-linear-gradient(#96520f, #c89f67);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.our-partner-container {
    position: absolute;
}

.our-partner-container img {
    width: auto;
}

.logo-wrapper-bg {
    position: absolute;
}

.logo-wrapper {
    position: absolute;
    top: 45px;
    left: 38px;
}

.our-partner--henkel {
    position: absolute;
    top: -128px;
    left: 98px;
    z-index: var(--zIndex-3)
}

.our-partner--gazprom {
    right: 14%;
    top: -148px;
    z-index: var(--zIndex-3);
}

.our-partner--ikea {
    left: 24%;
    top: -31px;
    z-index: var(--zIndex-1);
}

.our-partner--ikea .logo-wrapper {
    top: 42%;
}

.our-partner--jungheinrich {
    left: 1%;
    top: -11px;
    z-index: var(--zIndex-1);
}

.our-partner--vamed {
    right: 30%;
    top: -39px;
    z-index: var(--zIndex-1);
}

.our-partner--strabag {
    top: 132px;
    left: 13%;
}

.our-partner--strabag .logo-wrapper {
    left: 25px;
    top: 35%;
}

.our-partner--pentax {
    left: 38%;
    top: 73px;
}

.our-partner--pentax .logo-wrapper {
    top: 50%;
}

.our-partner--goethe {
    right: 17%;
    top: 45px;
}

.our-partner--goethe .logo-wrapper {
    top: 50%;
}


.submit-request {
    position: relative;
    margin-top: 360px;
}

.submit-request--form {
    position: absolute;
    top: 22px;
    left: 167px;
    right: 235px;
    bottom: 112px;
    padding-top: 43px;
    background-image: url("../../assets/images/macbookBg.png");
    text-align: center;
}

.submit-request--form-info h5 {
    font: italic var(--type-bold) 1.6vw 'inglobal';
    color: #1c1d1d;
    margin-bottom: 30px;
}

.submit-request--form label {
    margin: 24px auto;
}

.submit-request--form-info, .submit-request--main-form {
    max-width: 320px;
    margin: 0 auto;
}

/*!***************** Section Our Partners End  **********************!*/

/*!***************** Section What Is It Start  **********************!*/
.section-container {
    display: flex;
}

.what-is-it .scroll-down {
    margin-bottom: 196px;
}

.box {
    width: auto;
}

.phone-number {
    display: flex;
    align-items: center;
    margin: var(--margin-center);
    background: url("../../assets/images/phone-number-bg.png") no-repeat center;
    background-size: contain;
    color: white;
    margin-bottom: 110px;
}

.phone {
    width: auto;
}

.center-item {
    flex: 1;
    max-width: 36%;
    margin-top: 220px;
    text-align: center;
}

.what-is-it__title h2 {
    font: italic var(--type-bold) 2.4vw 'inglobal';
}

.what-is-it__title p {
    font: normal var(--type-regular) 1.09vw 'Open Sans';
    color: #282828;
    margin: 20px 0;
}

.what-is-it__title ul p {
    margin: 0;
    font: normal var(--type-bold) 0.95vw 'Open Sans';
}

.blue-color {
    color: var(--main-brand-color);
}

.red-color {
    color: var(--secondary-brand-color);
}

/*!***************** Section What Is It End  **********************!*/
