.btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-brand-color);
    color: var(--clr-ntrl-min);
    font: var(--type-bold) 14pt 'Open Sans';
    border: 0;
    border-bottom: 2px solid #0568b5;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: var(--duration800);
}

.btn:focus{
    border-bottom: 1px solid #0568b5;
}

.btn:hover{
    background-color: #1da2ff;
}
