.form-group{
    display: block;
    margin-bottom: 14px;
}

input, textarea {
    width: 100%;
    height: 40px;
    font-size: var(--type-smallest);
    color: #969696;
    background: var(--clr-ntrl-min);
    border: 1px solid #c8c8c8;
    caret-color: var(--main-brand-color);
    padding: 0 14px;
    border-radius: 4px;
    box-shadow: inset -1px 1px 11px #c8c8c8;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #969696;
    font: var(--type-bold) 0.8vw 'Open Sans'
}
